<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>trueCheck - Anti Counterfeit</title>

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/truecheck.css" rel="stylesheet">
	<!-- <link href="css/bootstrap.min.css" rel="stylesheet">-->
	</head>

<body>
	<div class="main-bg container-fluid">

	<div class="container">
		<div class="header logo">
			<a href="#"><img src="img/logo.png"></a><span><a href="" class="float-right">Welcome : Admin</a></span>
		</div>			
	</div>
	<!-- container end  -->



	<!-- Banner start  -->
		<div class="banner">
			<div class="container">
				<div class="col-md-10"><h1>Welcome,<br>Now we are partners<br>To fight counterfeit.</h3>
					<a href="" class="btn btn-primary btn-lg">ADD PRODUCT <span class="glyphicon glyphicon-plus-sign"></span></a></div>
				<div class="col-md-2 banner-img"><img src="img/monogram.png"></div>
			</div>
		</div>
	  </div>
	<!-- container-fluid end  -->
	<div class="container">
		<div class="container">
			<table class="table table-bordered margin-top">
			    <thead>
			      <tr class="bg-head">
			        <th class="col-md-1">Sr. No</th>
			        <th class="col-md-8">Product Name</th>
			        <th class="col-md-3">TrueCheck Code</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>1</td>
			        <td>Air Max Era</td>
			        <td><a href="" class="btn btn-danger btn-block"><b>GENERATE CODE</b></a></td>
			      </tr>
			      <tr>
			        <td>2</td>
			        <td>Light Run</td>
			        <td><a href="" class="btn btn-danger btn-block"><b>GENERATE CODE</b></a></td>
			      </tr>
			      <tr>
			        <td>3</td>
			        <td>Kobe - X</td>
			        <td><a href="" class="btn btn-danger btn-block"><b>GENERATE CODE</b></a></td>
			      </tr>
			    </tbody>
			  </table>

  			<ul class="pager">
   	 			<li class="previous"><a href="#"><< Previous</a></li>
    			<li class="next"><a href="#">Next >></a></li>
  			</ul>
		</div>

		  
	</div>



	<!-- Start of the footer  -->
	<div class="site-footer">
		<div class="blue-strip"></div>
		<div class="red-strip">
			<div class="container">
				<div class="col-sm-10"></div>
				<div class="col-sm-2"><span class="float-right">a trueCheck intiative</span></div>
			</div>
		</div>
	</div>
	<!-- End of the footer  -->



    <!-- js placed at the end of the document so the pages load faster
	-->
    <script src="js/jquery.js">
    </script>
    <script src="js/bootstrap.min.js">
    </script>
</body>
</html>